@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap'); 
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}
header{
    width:100%;
    background-color: #fff;
    padding: 10px 0;
}
.limita-secao{
    max-width:1024px;
    margin:0 auto;
}
.topo{
    display: flex;
    align-items: center;
}
.topo img{
    width:30px;
    margin:10px;
}
.topo p{
    color:#5d15d1;
    font-size: 26px;
    font-weight: 600;
    margin-left: 15px;
}
.banner {
    background-image: url('imagens/bahia.jpg');
    height:90%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding:40px;
}
.solicitacao{
    background-color: hsl(263, 82%, 45%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5px;
}
.solicitacao h1{
    color: white;
    margin-left: 8px;
    font-size: 20px;
}
.solicitacao img{
    width:20px;
    height:20px;
    rotate: 310deg;
}
.formulario{
    background-color: white;
    height:100%;
}
.informe-form{
    margin: 25px 15px;
}
.informe-form h2{
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 700;
}
.info{
    display: flex;
    flex-direction: column;
    margin:10px 0;
}
.info label{
    margin:10px 0;
    font-weight: 600;
}
.info input{
    padding:5px;
}
.info-02{
    display: flex;
}
.limita-secao-02{
    display: flex;
    flex-direction: column;
}
.ida {
    width:50%;
    margin-right: 10px;
}
.ida input, .volta input{
    width:100%;
    margin-bottom: 10px;
    padding:5px;
}
.ida label, .volta label{
    margin:10px 0;
    font-weight: 600;
}
.volta{
    width:50%;
}
.formulario-campo-duplo{
    display: flex;
}
.formulario-campo-duplo select{
    padding:5px;
    margin-bottom: 10px;
}
.cama-infantil{
    max-width: 180px;
    justify-content: space-between;
    margin:15px 0;
}
.cama-infantil label, .preferencias label{
    margin-left:5px;
}
.cama h3, .hospedagem h3{
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 16px;
}
.preferencias{
    max-width:400px;
    justify-content: space-between;
    margin:15px 0;
}
form button{
    background-color: #5d15d1;
    padding:10px 5px;
    color:white;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    margin-bottom: 15px;
}
form button:hover{
    background-color: #8149db;
    transition: .8s;
}
.ofertas img{
    width:200px;
}
.explore h4{
    padding:0 0 10px 0;
    font-size: 20px;
}
.explore p{
    margin-bottom: 20px;
}
.explore span{
    font-weight: bold;
}
.cor-fundo{
    background-color: #f5f2f2;
    padding:40px;
}
.ofertas{
    display: flex;
    width:100%;
    gap:0 25px;
}
.rio{
    width:100%;
}
.rio figure{
    height:100%;
}
.rio img, .img-4 figure img{
    width:100%;
    height:100%;
}
.img-4{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    width:100%;
    justify-content: space-between;
}
.img-4 figure{
    width:48%;
}
.img-4 figure, .rio figure{
    position: relative;
}
.img-4 figcaption, .rio figcaption{
    position: absolute;
    left:0;
    bottom:0;
    color:white;
    background-color:rgb(8, 8, 8,.5);
    padding:5px;
    width:100%;
}
.natureza{
    display: flex;
    justify-content: space-between;
    gap:20px;
}
.natureza figure{
    width:100%;
}
.natureza figure img{
    width:100%;
}
.natureza figure figcaption{
    display: flex;
    flex-direction: column;
    padding:10px;
    font-weight: bold;
    background-color: #fff;
}
.natureza figure span{
    font-size:14px;
    font-weight:500;
    padding:10px 0;
}
footer{
    background-color:#5d15d1;
    color:#fff;
}
.rodape{
    display: flex;
    justify-content: space-between;
    padding:40px 0;
}
.rodape h5{
    font-size: 20px;
    padding: 10px 0;
}
.rodape img{
    width:25px;
    margin-right: 8px;
}
footer li{
    padding:10px 0;
}
footer a{
    color:white;
    text-decoration: none;
    display: flex;
    align-items: center;
}
footer ul{
    list-style: none;
}
@media (max-width:1104px){
    .explore h4 {
        font-size: 30px;
    }
    .explore p{
        font-size: 20px;
    }
    .rio{
        width:100%;
        height:450px;
    }
    .ofertas{
        flex-direction: column;
        width:100%;
        gap:30px;
    }
    .img-4{
        gap:30px;
    }
    .img-4 figure{
        width:100%;
        height:350px;
    }
    .img-4 figcaption, .rio figcaption{
        font-size: 24px;
    }
}
@media (max-width:1090px){
    .topo{
        justify-content: center;
    }
}
@media (max-width:768px){
    .natureza{
        flex-direction: column;
    }
    .rodape{
        flex-direction: column;
        align-items: center;
    }
    footer nav{
        padding:15px;
        width:300px;
    }
}
@media(max-width:650px) {
    .rio{
        height:300px;
    }
}
@media (max-width:540px){
    .explore img{
        height:200px;
    }
    .img-4 figure{
        height:200px;
    }
    .img-4 figcaption, .rio figcaption{
        font-size: 20px;
        text-align: center;
    }
}
@media (max-width:450px){
    .banner, .cor-fundo{
        padding:20px;
    }
    .informe-form h2{
        text-align: center;
    }
    .cama h3, .hospedagem h3 {
        text-align: center;
    }
    .cama-infantil{
        max-width: 100%;
        justify-content: space-around;
    }
    .preferencias{
        flex-wrap: wrap;
    }
    .botao{
        display: flex;
        justify-content: center;
        padding-top: 10px;
    }
    .rodape{
        padding: 40px 0;
        margin:0 30px;   
    }
}
@media (max-width:375px){
    .rio{
        height:250px;
    }
}